<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sg.eyedoctor"
          android:versionCode="1">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <!-- 云信 特殊permission start -->
    <uses-permission android:name="com.sg.eyedoctor.permission.RECEIVE_MSG"/>

    <permission
        android:name="com.sg.eyedoctor.permission.RECEIVE_MSG"
        android:protectionLevel="signature"/>

    <!-- 云信 特殊permission end -->
    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".main.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity
            android:name=".loginRegister.activity.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".loginRegister.activity.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".commUtils.addPatient.activity.AddPatientActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".chartFile.activity.PatientCenterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".commUtils.outPatientRecord.activity.OutPatientRecordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".chartFile.activity.MedicineDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".consult.textConsult.activity.TextConsultActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".settings.personalInfo.activity.DoctorInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".settings.personalInfo.activity.DoctorInfoEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".settings.personalInfo.activity.DoctorApproveActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".settings.personalInfo.activity.DoctorApproveEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".chartFile.activity.PatientDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".chartFile.activity.PatientDetailEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".eyeCircle.activity.PublishCaseOrTopicActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".contact.activity.DoctorDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".contact.activity.NewFriendActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".eyeCircle.activity.CaseDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <activity
            android:name="com.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".lookPicture.activity.LookBigPicActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".contact.activity.FriendListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".contact.activity.AddFriendActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".commUtils.plusManager.activity.PlusManagerActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".commUtils.plusManager.activity.PlusSettingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".commUtils.plusManager.activity.EditPlusInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <activity
            android:name=".commUtils.patientReport.activity.PatientReportActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".commUtils.caseDiscuss.activity.CaseDiscussActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".commUtils.internetConsult.activity.InternetConsultationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".commUtils.toolbox.activity.ToolBoxActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".commUtils.toolbox.activity.EyeCheckActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".commUtils.toolbox.activity.EyeCalculateActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".commUtils.toolbox.activity.EyeCrystalActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".commUtils.toolbox.activity.EyeDataActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".commUtils.toolbox.activity.EyeEnglishActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".commUtils.toolbox.activity.EyeMedicineTypeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".commUtils.toolbox.activity.EyeMedicineDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".commUtils.toolbox.activity.WebViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".commUtils.academic.activity.AcademicActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".commUtils.caseDiscuss.activity.AddCaseActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <activity
            android:name=".commUtils.academic.activity.AcademicWebActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".commUtils.caseDiscuss.activity.LookPatientCaseActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".commUtils.caseDiscuss.activity.AllMemberActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".commUtils.caseDiscuss.activity.ChooseContactActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".commUtils.internetConsult.activity.InternetAddCaseActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".commUtils.internetConsult.activity.InternetConsultDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>
        <activity
            android:name=".commUtils.internetConsult.activity.EditCommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".helpUtils.stopDiagnoseNotice.activity.StopDiagnoseNoticeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".consult.advice.activity.DrugAdviceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity
            android:name=".consult.advice.activity.CheckAdviceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity
            android:name="com.netease.nim.session.activity.P2PMessageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <!-- *********************网易云信    start**************************************** -->
        <!--
             APP key, 可以在这里设置，也可以在 SDKOptions 中提供。
            如果 SDKOptions 中提供了，取 SDKOptions 中的值。
        -->
        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="38d14c2a5f20cd1a9c681a32a738fe00"/>

        <!-- 声明云信后台服务，如需保持后台推送，使用独立进程效果会更好。 -->
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":core"/>
        <service
            android:name="com.netease.nimlib.service.NimService$Aux"
            android:process=":core"/>

        <!--
             云信SDK的监视系统启动和网络变化的广播接收器，用户开机自启动以及网络变化时候重新登录，
            保持和 NimService 同一进程
        -->
        <receiver
            android:name="com.netease.nimlib.service.NimReceiver"
            android:exported="false"
            android:process=":core">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <!-- 云信进程间通信 Receiver -->
        <receiver android:name="com.netease.nimlib.service.ResponseReceiver"/>

        <!-- 安卓保活配置 -->
        <service
            android:name="com.netease.cosine.core.CosineService"
            android:process=":cosine">
        </service>

        <receiver
            android:name="com.netease.cosine.target.CosineReceiver"
            android:exported="true"
            android:process=":cosine">
        </receiver>

        <meta-data
            android:name="com.netease.cosine.target"
            android:value=""/>
        <meta-data
            android:name="com.netease.cosine.target.receiver"
            android:value="com.netease.nimlib.service.NimReceiver"/>

        <!-- 音视频 -->
        <activity
            android:name="com.netease.nim.avchat.activity.AVChatActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <!-- 申明实时音视频来电通知的广播接收器，第三方APP集成时，action中的com.netease.nim.demo请替换为自己的包名 -->
        <receiver
            android:name="com.netease.nimlib.receiver.AVChatBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.sg.eyedoctor.ACTION.RECEIVE_AVCHAT_CALL_NOTIFICATION"/>
            </intent-filter>
        </receiver>

        <!-- 申明本地电话状态（通话状态）的广播接收器，第三方APP集成时音视频模块时，如果需要网络通话与本地电话互斥，请加上此接收器 -->
        <receiver android:name="com.netease.nimlib.receiver.IncomingCallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>

        <!-- *********************网易云信    end**************************************** -->
        <activity
            android:name=".settings.myStateMessage.activity.StateMessageActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".helpUtils.massNotice.activity.MassNoticeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>
        <activity
            android:name=".helpUtils.massNotice.activity.MassChooseContactActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".helpUtils.doctorAsist.activity.DoctorAssistActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".helpUtils.doctorAsist.activity.LeaveWordActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".contact.activity.ContactActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".settings.mySetting.activity.SettingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".settings.myWallet.activity.MonthIncomeDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".settings.myAccount.activity.AccountManageActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".settings.myWallet.activity.MyWalletActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".settings.myAccount.activity.WithdrawalActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".settings.myAccount.activity.AlipayBindActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".settings.myWallet.activity.WantWithdrawalActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".settings.myAccount.activity.MyAlipayActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".settings.myWallet.activity.IncomeDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".settings.myStore.activity.MyStoreActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".settings.myAccount.activity.AlipayPasswordActvity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle">
        </activity>
        <activity
            android:name=".consult.advice.activity.DiagnosticEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>
        <activity
            android:name=".consult.advice.activity.DiagnosticShowActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>
        <activity
            android:name=".consult.advice.activity.ConsultDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>
        <activity
            android:name=".consult.advice.activity.ConsultPatientDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>
        <activity
            android:name=".consult.videoConsult.activity.VideoConsultActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".consult.phoneConsult.activity.PhoneConsultActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".consult.phoneConsult.activity.PhoneConsultSettingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".consult.phoneConsult.activity.PhoneConsultTimeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".helpUtils.doctorAdvice.activity.HospitalPatientListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".helpUtils.doctorAdvice.activity.HospitalPatientDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".helpUtils.doctorAdvice.activity.AddDoctorAdviceActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".helpUtils.electronicRecords.activity.ElectricRecordActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".helpUtils.doctorAdvice.activity.LongAdviceDrugActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".helpUtils.doctorAdvice.activity.LongAdviceCheckActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".settings.mySetting.activity.ResetPasswordActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".settings.mySetting.activity.VersionUpdateActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".settings.mySetting.activity.AboutUsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".settings.myOnlineManager.activity.OnlineManagerActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".chartFile.activity.NewCaseShowActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".consult.videoConsult.activity.VideoSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>
        <activity
            android:name=".consult.openConsult.activity.OpenViedoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>
        <activity
            android:name=".settings.myOnlineManager.activity.SetTextConsultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>
        <activity
            android:name=".settings.myOnlineManager.activity.SetVideoConsultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>
        <activity
            android:name=".settings.myOnlineManager.activity.SetPhoneConsultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>
        <activity
            android:name=".settings.myOnlineManager.activity.SetAddConsultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>
        <activity
            android:name=".helpUtils.freeClinic.activity.FreeClinicActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".helpUtils.freeConsult.activity.FreeConsultDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".helpUtils.freeClinic.activity.FreeClinicPublishActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".helpUtils.freeClinic.activity.FreeVideoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.netease.nim.session.activity.MessageHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.netease.nim.session.activity.TeamMessageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".settings.myOnlineManager.activity.VideoTimeSettingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.netease.nim.common.media.picker.activity.PickImageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.netease.nim.common.media.picker.activity.PreviewImageFromCameraActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.netease.nim.common.media.picker.activity.PreviewImageFromLocalActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.netease.nim.common.media.picker.activity.PickerAlbumPreviewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.netease.nim.common.media.picker.activity.PickerAlbumActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.netease.nim.session.activity.WatchMessagePictureActivity"
            android:screenOrientation="portrait"/>

        <!-- 友盟的activity  start -->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UMDefault"/>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1105421058"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- 友盟事件集成 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="577c5b6fe0f55a0e4700301d"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>
        <!-- 友盟的activity  end -->

        <activity android:name=".chartFile.activity.AttentionPatientActivity">
        </activity>
        <activity android:name=".commUtils.patientReport.activity.ReportNoteActivity">
        </activity>
        <activity android:name=".helpUtils.freeConsult.activity.FreeConsultActivity">
        </activity>
        <activity android:name=".chartFile.activity.ChartFileActivity">
        </activity>
        <activity
            android:name=".consult.textConsult.activity.SearchTextActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity
            android:name=".chartFile.activity.SearchChartFileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity
            android:name=".commUtils.caseDiscuss.activity.SearchDiscussCaseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity
            android:name=".consult.phoneConsult.activity.SearchPhoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity
            android:name=".consult.videoConsult.activity.SearchVideoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity
            android:name=".commUtils.internetConsult.activity.SearchInternetConsultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity
            android:name=".commUtils.patientReport.activity.SearchPatientReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name=".chartFile.activity.AddNewCaseActivity">
        </activity>
        <activity android:name=".contact.activity.SearchFriendActivity">
        </activity>
        <activity android:name=".helpUtils.massNotice.activity.AlreadySendNoticeActivity">
        </activity>
        <activity android:name=".settings.myStateMessage.activity.MessageDetailActivity">
        </activity>
        <activity android:name=".main.activity.CertificationActivity">
        </activity>
        <activity android:name=".loginRegister.activity.ForgetPasswordActivity">
        </activity>
        <activity android:name=".helpUtils.stopDiagnoseNotice.activity.AlreadyStopDiagnoseActivity">
        </activity>
        <activity android:name=".loginRegister.activity.GuideActivity">
        </activity>
        <activity android:name=".loginRegister.activity.FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".helpUtils.electronicRecords.activity.ElecPatientDetailActivity">
        </activity>
        <activity android:name=".commUtils.toolbox.activity.SearchMedicineActivity">
        </activity>
    </application>

</manifest>